@import "tailwindcss";

@theme {
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);

  --color-primary-50: oklch(0.95 0.05 264);
  --color-primary-100: oklch(0.9 0.08 264);
  --color-primary-200: oklch(0.85 0.1 264);
  --color-primary-300: oklch(0.8 0.12 264);
  --color-primary-400: oklch(0.7 0.15 264);
  --color-primary-500: oklch(0.6 0.18 264);
  --color-primary-600: oklch(0.5 0.2 264);
  --color-primary-700: oklch(0.4 0.18 264);
  --color-primary-800: oklch(0.3 0.15 264);
  --color-primary-900: oklch(0.2 0.1 264);
  --color-primary-950: oklch(0.1 0.08 264);

  --font-sans: "Inter", sans-serif;
}